*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
}
header{
  border: 1px solid white;
  height: 50px;
}
.nomes{
  font-size: 26px;
  display: flex;
}

.nomes p{
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 190px;
  font-family: 'Poppins', sans-serif;
  color: white;
}
main{

}
.logo{
  margin-top: 60px;
  margin-left: 50px;
  height: 190px;
}
.texto{
  margin-top: 90px;
  margin-left: 100px;
  display: grid;
  position: absolute;
  width: 35%;
  color: #fff;
  font-size: 20px;
  font-size: 20px;
}
.lesafim{
  margin-top: 170px;
    position: relative;
    position: absolute;
    right: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.video {
  margin-top: 500px;
  position: relative;
  position: absolute;
  right: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
    width: 560px;
    height: 315px;
    background-size: cover;
  }
  .video2{
    margin-top: 500px;
  position: relative;
  position: absolute;
  right: 60%;
  left: 33%;
  transform: translate(-50%, -50%);
    width: 560px;
    height: 315px;
    background-size: cover;
  }
  .video3{
    margin-top: 500px;
  position: relative;
  position: absolute;
  right: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
    width: 560px;
    height: 315px;
    background-size: cover;
  }
  .loguinhos{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
      height: auto;
      float: right;
      }