*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./imagens/background.png);
  background-size: cover;
  margin: 60px;
  margin-bottom: 20px;
}
header{
  font-size: 1.5vw;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  display: flex;
}
a{
  text-decoration: none;
  color: white;
}
.albuns{
  margin-inline-end: 60px;
}
.membros{
  margin-inline-end: 60px;
}
.galeria{
  margin-inline-start: 10px;
}
.noticias{ 
  margin-inline-start: 60px;
}
main{
  display: grid;
  display: flex;
  justify-content: space-between;
}
.info{
  color: white;
  text-align: justify;
  width: 590px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 70px;
}
.logo{
  width:35vw;
}
p{
  padding: 30px;
  padding-left: 0;
}
.loguinhos{
  margin-left: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.youtube{
  margin-bottom: 20px;
  width: 2.5vw;
}
.twitter{
  margin-bottom: 20px;
  width: 2.5vw;
}
.instagram{
  margin-bottom: 20px;
  width: 2.5vw;
}
.facebook{
  width: 1.5vw;
}
footer{
  margin-top:20px;
}
.video1{
  margin-inline-end: 40px;
  height: 6vw;
}
video1:hover{
  transform: scale(1.3);
}
.video2{
  margin-inline-end: 40px;
  height: 6vw;
}
.video3{
  height: 6vw;
}